body {
  background-color: lightgray;
  margin: 0 auto;
}  
img {
  max-width:100%
}

.background-gray {
   background-color: gray;
}   
.background-green {
   background-color: #EAFEEA;
}
.padding10 {
  padding-bottom: 11px;
}
.footer {  
  background-color: black;
  color: white;
  text-align: center;
  margin: 0 auto;  
}
.button-panel {
  width: 100%;
  text-align: left;
}  
   
