
body {
  margin: 0 auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: beige;
}

ul {
  list-style-type: none;
  font-size: 15px;
}

img {
  max-width:50%;
}

h2 {
  color: black;
}

#home h2 {
  padding-top: 5%;
}


#experience h2 {
  padding-top: 3%;
  padding-bottom: 2%;

}

#experience p {
  font-size: 21px;
  font-family: cursive;
}	

	
.background-lsb {
  background-color: lightsteelblue;
} 

.background-beige {
  background: beige;	
  border: none;
}

.padding10 {
  padding-bottom: 11px;
}

.footer {  
  margin: 0 auto;  	
  background-color: black;
  color: white;
  text-align: center;  
}

.button-panel {
  width: 100%;
  text-align: left;  
}

.button-panel:hover, .button-panel:focus {
  background: blue;
  color: white;
}  

.btn {
  margin: 10px;	
  border-radius: 25px;
  background-color: lightsteelblue;
  color: black;
  font-size: 20px;
  width: 200px;
  height: 50px;
  text-align: center;
} 

.btn:hover, .btn:focus {
  background-color: blue;
  color: white;
}

.panel-color {
  color: black;
  background-color: lightsteelblue;
}  

.box {
  border-radius: 6px;	
  background: lightsteelblue;
  color: black;
  text-align: left;
  padding: 18px;
  box-shadow: 5px 10px 3px #121212;
  margin-bottom: 10px;
  -webkit-transition-property: background, border-radius, text-align, box-shadow, color;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  transition-property: background, border-radius, text-align, box-shadow;
  transition-duration: 1s;
  transition-timing-function: linear;
}
  
.box:hover, .box:focus {
  background: blue;
  color: white;
  border-radius: 25%;
  box-shadow: none;
  text-align: center;    
}
  
 
h1 {
  font-family: cursive;
  color: black;
  margin-top: 8%;
}  

#showmore {
  margin-left: 20%;
  text-align: left;
}  

div#readless {
    margin-left: 20%;
}

.navcolor {
  background: lightsteelblue;
  color: blue;
}  

@media screen and (max-width: 768px) {
  #showmore {
    margin-left: 5%;
    text-align: left;    
  }	
  
  img {
    max-width: 100%;
  }

  div#readless {
    margin-left: 10%;
  }
  
  #home h2 {
  padding-top: 21%;
}


#experience h2 {
  padding-top: 12%;
  padding-bottom: 2%;
}

  
}

@media screen and (min-width: 960px) {
  #showmore {
    margin-left: 30%;
    text-align: left;
  }	

  div#readless {
    margin-left: 20%;
  }
}

.carousel-inner img {
  margin: auto;
}

.img-circle {
  border-radius: 50%;
}

  	
